$app-header-height: 64px;

:global {
  @import 'base';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

.appBody {
  height: calc(100% - #{$app-header-height});
  overflow: auto;
  position: relative;
}
